*{
    margin: 0;
    padding: 0;
}
#homepage{
    background-image: url("https://res.cloudinary.com/djz4lxe3f/image/upload/v1684274905/Hotel-booking/flat-lay-healthy-vegetables-frame_nacjl6.jpg");
    /* background-position: 100%; */
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: rgba(10, 1, 1, 0.7); */
    /* background-color:#2f4e00;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
 }
 nav ul li {
     display: inline-block;
     margin-left: 40px; */
     /* text-decoration: none; */
 
 /* a {
    text-decoration: none;
     color:whitesmoke;
     font-size: 20px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
 } */ 
 #home{
    font-weight: bold;
    color: #CE5B13;
    /* margin-left: 30px; */
 }
 #Groci{
    color: #CE5B13;
    font-size: 65px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    /* padding-top: 20%; */
 }
 .btnContainer{
        border: 1px solid rgb(250, 142, 19); 
        color:whitesmoke;
        background-color: #2F4E00;
        padding: 18px 45px;
        font-size: 20px;
        border: 2px solid red;
        border-radius: 10px; 

      }
.start {
        border: 1px solid rgb(250, 142, 19);
        color:whitesmoke; 
        background-color: #2F4E00;
        padding: 18px 45px; 
        font-size: 20px; 
        border-radius: 10px;
        text-decoration: none;
}
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  /* Style the footer */
  /* footer {
    background-color: #f2f2f2;
  }
  
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-info {
    text-align: center;
    font-size: 12px;
    color: #777;
  }
  .container-footer{
    display: flex;
    justify-content: space-around;
    background-color: #034001;
    color: whitesmoke;
    padding:30px;
  } */
 @media (max-width: 480px) {
  #Groci {
    font-size: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .btnContainer,
  .start {
    padding: 12px 30px;
    font-size: 16px;
  }
  
  /* nav {
    padding: 10px;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  a {
    font-size: 16px;
    padding-left: 10px;
  } */
}
/*  */
/* * {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

/* Navigation bar */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  scroll-behavior: smooth;
}

.nav-barr {
  position: fixed;
  width: 100%;
  /* height: 40%; */
}
.nav img {
  width: 5em;
  margin-left: 2em;
}
.nav {
  height: 50px;
  width: 100%;
  background: #2F4E00;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.nav>.nav-header {
  display: inline;
}
.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
  display: none;
}
.nav>.nav-links {
  margin-right: 4em;
  display: inline;
  float: right;
  font-size: 18px;
}
.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: whitesmoke;
}
.nav>.nav-links>a:hover {
  color: #8BC746;
}
.nav>#nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #8BC746;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #021A08;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
     padding-left: 20px;
    background-color: #F3EDD4;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked~.nav-links {
    height: calc(25vh - 50px);
    overflow-y: auto;
  }
}