*{
    margin: 0;
    padding: 0;
}
#homepage{
    background-image: url("https://res.cloudinary.com/djz4lxe3f/image/upload/v1684274905/Hotel-booking/flat-lay-healthy-vegetables-frame_nacjl6.jpg");
    /* background-position: 100%; */
    background-size: cover;
    min-height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: rgba(10, 1, 1, 0.7); */
    background-color:#2f4e00;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
 }
 nav ul li {
     display: inline-block;
     margin-left: 40px;
     /* text-decoration: none; */
 }
 a {
    text-decoration: none;
    /* text-shadow: chartreuse;
     */
     color:whitesmoke;
     font-size: 20px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
 }
 /* End of navigation bar */
 /* Start of the homepage styling */
 #home{
    font-weight: bold;
    color: #CE5B13;
    margin-left: 30px;
 }
 #Groci{
    color: #CE5B13;
    font-size: 65px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    /* padding-top: 20%; */
 }
 /* Button section in home */
/* .btnContainer{
        /* padding: 18px 18px; */
        /* border:3px;
        border-radius: 10px;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 60px;
        font-size: 20px;
         */
      /* }  */
 .btnContainer{
        border: 1px solid rgb(250, 142, 19); 
        color:whitesmoke;
        background-color: #2F4E00;
        padding: 18px 45px;
        font-size: 20px;
        border: 2px solid red;
        border-radius: 10px; 

      }
.start {
        border: 1px solid rgb(250, 142, 19);
        color:whitesmoke; 
        background-color: #2F4E00;
        padding: 18px 45px; 
        font-size: 20px; 
        border-radius: 10px;
}
 
/* footer */
  /* footer */
  /* Style the container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: #f2f2f2;
  }
  
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-info {
    text-align: center;
    font-size: 12px;
    color: #777;
  }
  .container-footer{
    display: flex;
    justify-content: space-around;
    background-color: #034001;
    color: whitesmoke;
    padding:30px;
  }