/* Style the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
#text-cart {
  color: #034001;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}
.productContainer2{
  display: flex;
  justify-content: space-around;
}
#fruits{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
  color: #034001;
}
.Containertwo{
    display: flex;
    justify-content: space-around;
  }
#vege{
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    padding-bottom: 20px;
    color: #034001;
 }
 
 #search-section {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
#search-input {
  flex: 1;
  padding: 5px;
  border: 2px solid #A85207;
  outline: none;
  font-size: 16px;
}
#search-button {
  padding: 9px 11px;
  background-color:#a85207;
  color: #fff;
  border: none;
  cursor: pointer;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border: 2px solid red;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.total {
  font-weight: bold;
}
button {
  /* padding-top: 40px; */
  padding: 10px 20px;
  background-color: #034001;
  text-decoration: none;
  color: #fff;
}
.orderBtn {
  background-color: #034001;
  /* text-decoration: none; */
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}
.cartBtn {
  background-color:  #A75106;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  /* text-decoration: none; */
}
/* .mainContainer{
  display: flex;
} */
/* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; */
  /* background-color: rgba(10, 1, 1, 0.7); */
  /* background-color:#2f4e00;
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
} */
/* nav ul li {
   display: inline-block;
   margin-left: 40px; */
   /* text-decoration: none; */

/* a {
  text-decoration: none;
   color:whitesmoke;
   font-size: 20px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
} */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .productContainer2,
  .Containertwo {
    flex-direction: column;
    align-items: center;
  }

  #fruits,
  #vege {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 100%;
  }

  .search-section {
    max-width: 100%;
  }

  #search-input {
    width: 100%;
  }

  .btnContainer {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  #Groci {
    font-size: 40px;
    margin-bottom: 3%;
    margin-top: 3%;
  }

  .btnContainer,
  .start {
    padding: 12px 30px;
    font-size: 16px;
  }
  
}
/*  */
.nav-barr {
  position: fixed;
  width: 100%;
  /* height: 40%; */
}
.nav img {
  width: 5em;
  margin-left: 2em;
}
.nav {
  height: 50px;
  width: 100%;
  background: #034001;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.nav>.nav-header {
  display: inline;
}
.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
  display: none;
}
.nav>.nav-links {
  margin-right: 4em;
  display: inline;
  float: right;
  font-size: 18px;
}
.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: whitesmoke;
}
.nav>.nav-links>a:hover {
  color: #8BC746;
}
.nav>#nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #8BC746;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #021A08;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
     padding-left: 20px;
    background-color: #034001;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked~.nav-links {
    height: calc(25vh - 50px);
    overflow-y: auto;
  }
}
