/* Style the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
#text-cart {
  color: #034001;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}
.productContainer2{
  display: flex;
  justify-content: space-around;
}
#fruits{
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
  color: #034001;
}
.Containertwo{
    display: flex;
    justify-content: space-around;
  }
#vege{
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    padding-bottom: 20px;
    color: #034001;
 }

 #search-section {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
#search-input {
  flex: 1;
  padding: 5px;
  border: 2px solid #A85207;
  outline: none;
  font-size: 16px;
}
#search-button {
  padding: 9px 11px;
  background-color:#a85207;
  color: #fff;
  border: none;
  cursor: pointer;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border: 2px solid red;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.total {
  font-weight: bold;
}
button {
  /* padding-top: 40px; */
  padding: 10px 20px;
  background-color: #034001;
  text-decoration: none;
  color: #fff;
}
.orderBtn {
  background-color: #034001;
  /* text-decoration: none; */
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}
.cartBtn {
  background-color:  #A75106;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  /* text-decoration: none; */
}
/* .mainContainer{
  display: flex;
} */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .productContainer2,
  .Containertwo {
    flex-direction: column;
    align-items: center;
  }

  #fruits,
  #vege {
    font-size: 30px;
    padding-bottom: 10px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    width: 100%;
  }

  .search-section {
    max-width: 100%;
  }

  #search-input {
    width: 100%;
  }

  .btnContainer {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
}
