body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}
.row {
  width: 80%;
  padding-left: 20%;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 55%;
  flex: 55%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
h3 {
  text-align: center;
  font-size: 30px;
}
h2 {
  text-align: center;
  font-size: 40px;
  color: #034001;
  padding-top: 10%;
}

.btn {
  margin-left: 37%;
  background-color: #cf6521;
  color: white;
  padding: 15px 40px;
  border: none;
  text-decoration: none;

  border-radius: 10px;
  /* cursor: pointer; */
  font-size: 17px;
}
hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
#paymnets {
  margin-left: 70%;
  margin-bottom: 15%;
}
#paym {
  border: 120%;
}
/* Media Queries */

@media (max-width: 768px) {
  .row {
    width: 100%;
    padding-left: 0;
    margin: 0;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  .btn {
    margin-left: 20%;
    margin-right: 20%;
  }

  .container {
    padding: 5px 10px 15px 10px;
  }
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  scroll-behavior: smooth;
}

.nav-barr {
  position: fixed;
  width: 100%;
  /* height: 40%; */
}
.nav img {
  width: 5em;
  margin-left: 2em;
}
.nav {
  height: 50px;
  width: 100%;
  background: #034001;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.nav>.nav-header {
  display: inline;
}
.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: whitesmoke;
  padding: 10px 10px 10px 10px;
}
.nav>.nav-btn {
  display: none;
}
.nav>.nav-links {
  margin-right: 4em;
  display: inline;
  float: right;
  font-size: 18px;
}
.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: whitesmoke;
}
.nav>.nav-links>a:hover {
  color: #8BC746;
}
.nav>#nav-check {
  display: none;
}
@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #8BC746;
  }
  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #021A08;
  }
  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
     padding-left: 20px;
    background-color: #034001;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }
  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }
  .nav>#nav-check:checked~.nav-links {
    height: calc(25vh - 50px);
    overflow-y: auto;
  }
}